.formControl{

}

.formControl.error input,
.formControl.error textarea
{
    border: 3px solid #00c3ff;
}

.formControl.error span{
    color: #08ffdd;
}

.formSummaryError{
    border: #8a0202 3px solid;
    padding: 5px;
    color: #c5ff00;
}