.nav{
    grid-area: n;
    background-color: #faee10;
    padding: 20px;
}
.item a{
    color: #4809de;
    text-decoration: none;
}

.item a.activeLink{
    color: #ff5fdf;
}

.item a:hover{
    color: #ff0000;
}
