.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialogItems .active{
    color: gold;
    font-weight: bolder;
}


.messages{
    padding: 10px;
}

.message{

}